name: Push Gem

on:
  push:
    tags:
      - '*'

jobs:
  rubygems:
    runs-on: ubuntu-latest

    environment: rubygems

    permissions:
      id-token: write

    steps:
      # Set up
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7'
      - name: Install gems
        run: bundle install
      - name: Set version
        run: sed -i "s/VERSION = \"0.0.0\"/VERSION = \"${{ github.ref_name }}\"/" lib/code0/identities/version.rb && bundle

      # Release
      - uses: rubygems/configure-rubygems-credentials@v1.0.0
      - name: Publish gem
        run: bundle exec rake release:rubygem_push
      - name: Wait for release
        run: gem exec rubygems-await pkg/*.gem
